# Database Configuration
POSTGRES_DB=maintenance_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend Configuration
APPLICATION_SECURITY_JWT_SECRET_KEY=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
APPLICATION_SECURITY_JWT_EXPIRATION=86400000

# Frontend Configuration
VITE_API_URL=http://localhost:8080/api
